{jira:key={{ ticket }}}

h2. SUMMARY
{% for i in summary %}
* {{ i }}
{% endfor %}

h2. CHANGES
{% for i in cd['changes'] %}
{code:title={{ (i|dictsort)[0][0]|upper }}|linenumbers=true|language=text|collapse=true}
{{ (i|dictsort)[0][1][0] }}

{code}
{% endfor %}