{% set count = namespace(value=1) -%}

{% macro jumpers(step) -%}
# *&#91;RH]* {{ step[0] }}:
{noformat:nopanel=true}
{% for j in step[1:] %}
{% if not loop.first%}

{% endif %}
Jumper #{{ count.value }}:
{% set count.value = count.value + 1 %}
    A Location:
        {% if j.acage %}
        Cage: {{ j.acage }}
        {% endif %}
        {% if j.arack %}
        Rack: {{ j.arack }}
        {% endif %}
        {% if j.adevice %}
        Device: {{ j.adevice }}
        {% endif %}
        {% if j.acid %}
        CID: {{ j.acid }}
        {% endif %}
        {% if j.aport %}
        Port: {{ j.aport }}
        {% endif %}
        {% if j.acable %}
        Jumper: {{ j.acable}}
        {% endif %}
        {% if j.label %}
        Label: {{ j.label }}
        {% endif %}
        {% if j.aterm == 'No' %}
        Terminate: No
        {% else %}
        Terminate: Yes
        {% endif %}

    Z Location:
        {% if j.zcage %}
        Cage: {{ j.zcage }}
        {% endif %}
        {% if j.zrack %}
        Rack: {{ j.zrack }}
        {% endif %}
        {% if j.zdevice %}
        Device: {{ j.zdevice }}
        {% endif %}
        {% if j.zcid %}
        CID: {{ j.zcid }}
        {% endif %}
        {% if j.zport %}
        Port: {{ j.zport }}
        {% endif %}
        {% if j.zcable %}
        Jumper: {{ j.zcable }}
        {% endif %}
        {% if j.label %}
        Label: {{ j.label }}
        {% endif %}
        {% if j.zterm == 'No' %}
        Terminate: No
        {% else %}
        Terminate: Yes
        {% endif %}
{% endfor %}{noformat:nopanel=true}{% endmacro -%}

{jira:key={{ ticket }}}

h1. === NOC Section ===

h3. SUMMARY
{% for i in summary %}
* {{ i }}
{% endfor %}

h3. CHANGE LEVEL
Level {{ level[0] }}

{% if rh[0] %}
h3. REMOTE HANDS REQUIRED
{{ rh[0] }}
{% endif %}

h3. EXECUTION:
{{ exec[0] }}

{% if approval[0] %}
h3. REMOTE HANDS APPROVAL
{{ approval[0] }}
{% endif %}

h3. CLRs IMPACTED
{% for i in impact %}
{{ i }}
{% endfor %}

{% if escalation[0] %}
h3. ESCALATION
{{ escalation[0] }}
{% endif %}

{% if p_rollback[0] %}
h3. PARTIAL ROLLBACK
{{ p_rollback[0] }}
{% endif %}

{% if rollback[0] %}
h3. ROLLBACK STEPS:
{% for i in rollback %}
{{ i }}
{% endfor %}
{% endif %}

{% if pm %}
h3. === PRE-MAINTENANCE ===
{noformat:nopanel=true}
{% for device,commands in pm.items() %}
{% if not loop.first%}

{% endif %}
{{ device }}:
{% for command in commands %}
    {{ command }}
{% endfor %}{% endfor %}
{noformat}
{% endif %}

h1. === MOP START ===

{% if shipping %}
h4. SHIPPING
{% for ticket,fedex in shipping.items() %}
{{ ticket }}
{% for tracking in fedex %}
- Fedex #{{ tracking }}

{% endfor %}{% endfor %}{% endif %}

h4. Please call 714-220-3494 before starting and reference {{ ticket }}

{% for section, step_dict in sections.items() %}
h2. Section {{ loop.index }} - {{ section }}
{% for i in step_dict %}
{% for header, step in i.items() %}
{% if header == 'rh' %}
# *&#91;RH]* {{ step }}
{% elif header == 'noc' %}
# *&#91;NOC]* {{ step }}
{% elif header == 'core' %}
# *&#91;CORE]* {{ step }}
{% elif header == 'jumper' %}
{{ jumpers(step) }}
{% elif header == 'cmd' %}
# *&#91;NOC]* {{ step[0] }}:
{noformat:nopanel=true}
{{ step[1] }}

{noformat}
{% elif header == 'cmd-core' %}
# *&#91;CORE]* {{ step[0] }}:
{noformat:nopanel=true}
{{ step[1] }}

{noformat}
{% elif header == 'cmd-rh' %}
# *&#91;RH]* {{ step[0] }}:
{noformat:nopanel=true}
{{ step[1] }}

{noformat}
{% elif header == 'expand' %}
# *&#91;NOC]* {{ step[0] }}:
{expand}
{{ step[1] }}
{noformat:nopanel=true}
{{ step[2] }}

{noformat}
{expand}

{% endif %}
{% endfor %}
{% endfor %}

{% endfor %}
{% if rh[0] %}
h2. Cleanup
# *&#91;RH]* Dispose of any remaining packaging materials in the racks.
# *&#91;RH]* Remove and dispose of any and all un-terminated jumpers.
# *&#91;RH]* Provide billable time.
{% endif %}

h1. === MOP END ===