
{% for interface in interfaces %}
interface {{ interface.interface_name }}
  description {{ interface.tagging_standard }}
  no cdp enable
  switchport
  switchport mode trunk
  switchport trunk allowed vlan {{ interface.trunk_vlan_list }}
  spanning-tree port type edge trunk
  load-interval 30
  logging event port link-status
  logging event port trunk-status
  mtu 9216
  no shutdown

{% for vlan in interface.trunk_vlan_list %}
vlan {{ vlan }}
  name {{ vlan }}--{{ interface.tagging_standard }}
{% endfor %}
==========
{% endfor %}
