
{code:title={{ hostname.upper() }}|linenumbers=true|language=text|collapse=true}

--- LOAD MERGE

chassis {
    network-services enhanced-ip;
}
interfaces {
{% for i in interfaces %}
    {{ i.split('|')[0] }} {
{% if hostname == ('lax-agg10' or 'svl-agg10') %}
        family mpls {
            maximum-labels 16;
        }
{% else %}
        family mpls;
{% endif %}
    }
{% endfor %}
}
policy-options {
    policy-statement bgp-import-locpref {
        term t01 {
            from community 2152:90;
            then {
                local-preference 90;
            }
        }
        term t02 {
            from community 2152:80;
            then {
                local-preference 80;
            }
        }
        term t03 {
            from community 2152:70;
            then {
                local-preference 70;
            }
        }
    }
    policy-statement label-hybrid {
        term t01 {
            from protocol direct;
            then {
                label-allocation per-table;
                accept;
            }
        }
        term t02 {
            then {
                label-allocation per-nexthop;
                accept;
            }
        }
    }
    policy-statement reject-all {
        term t01 {
            then reject;
        }
    }
    community 2152:90 members 2152:90;
    community 2152:80 members 2152:80;
    community 2152:70 members 2152:70;
}
routing-options {
    route-distinguisher-id {{ loopback }};
}
protocols {
    isis {
{% if hostname == ('lax-agg10' or 'svl-agg10') %}
{% for i in interfaces %}
        interface {{ i.split('|')[0] }} {
            level 2 {
                post-convergence-lfa {
                    node-protection;
                }
            }
        }
{% endfor %}{% endif %}
        source-packet-routing {
            srgb start-label 16000 index-range 8000;
            node-segment {
                ipv4-index {{ v4_index }};
                ipv6-index {{ v4_index + 1 }};
            }
            explicit-null;
        }
{% if hostname == ('lax-agg10' or 'svl-agg10') %}
        backup-spf-options {
            use-post-convergence-lfa;
        }
{% endif %}
    }
    ldp {
        export reject-all;
{% for i in interfaces %}
        interface {{ i.split('|')[0]  }};
{% endfor %}
        p2mp;
    }
    mpls {
        icmp-tunneling;
        ipv6-tunneling;
{% for i in interfaces %}
        interface {{ i.split('|')[0]  }};
{% endfor %}
    }
}

--- VERIFICATION

show isis overview | match "SRGB|Source|Index|Conv|Level"
show mpls label usage | match "Ranges|SRGB"
show mpls interface detail | match "Int|State|Max"
show isis database {{ hostname }} detail | match "Index|Seg"


{code}