{% macro bgp_show_junos_v4(v4) %}
    show route receive protocol bgp {{ v4 }}
    show route advertising-protocol bgp {{ v4 }}
{% endmacro %}
{% macro bgp_show_junos_v6(v6) %}
    show route receive protocol bgp {{ v6 }}
    show route advertising-protocol bgp {{ v6 }}
{% endmacro %}

h1. Circuit Migration Table
||#||CLR||CPE||Current Device||Current Port||New L2 Device||New L2 Port||ASI #||L3 Device||L3 Port||v6 Peering||BGP Routes||eBGP||CPE Device||
{% for i in data %}
|{{ loop.index }}|{{ i.name }}|{{ i.cpe }}|{{ i.current_device }}|{{ i.old_port }}|{{ i.new_device }}|{{ i.new_port }}|100G ASI #{{ i.ASI }}|{{ global.L3_new }}|{{ i.L3_port }}|{% if i.bgp_ipv6 %}Yes{% else %}No{% endif %}|{{ i.bgp_routes }}|{{ i.ebgp }}|{{ i.cpe_device }}|
{% endfor %}

h1. === NOC Section === 

{% for i,j in NOC_Section.items() %}
h3. {{ i }}
{{ j }}

{% endfor %}
h1. === PRE-MAINTENANCE ===

{% for i in data %}
h3. {{ loop.index }} - {{ i.name }}  
{noformat}L1/L2 OPtics/PMs
{% if i.cpe_port %}
CPE Port: {{i.cpe }} {{ i.cpe_port }} 
{% endif %}
Hub Port: {{ i.current_device }} {{ i.old_port}} 
{{ global.L3_old }}:
{% if i.bgp_ipv4 %}
    show bgp neighbor {{ i.bgp_ipv4 }} routes
    show bgp neighbor {{i.bgp_ipv4 }} advertised-count 
{%- endif -%}
{% if i.bgp_ipv6 %} 
    show bgp ipv6 unicast neighbor {{ i.bgp_ipv6 }} routes
    show bgp ipv6 unicast neighbor {{ i.bgp_ipv6 }} advertised-count
{% endif %}
{% if not i.bgp_ipv4 %}
    show arp {{ i.old_L3 }}
{% endif %}{noformat}

{% endfor -%} 

h1. === MOP START ===

h4. SHIPPING:
{%- for i in shipping %}
{% if i.ticket %} 
{{ i.ticket }} / Fedex {{ i.fedex }}
{% else %}

N/A
{% endif%} 
{% endfor -%}

h4. Please call 714-220-3494 before starting and reference {{ global.ticket }}

{% if section_0 %}
h2. Section 0 - {{ global.section_0_name }}
{% for i in section_0 %}
{{ i }}
{% endfor %}
{% endif -%}

{% for i in data %}

h2. Section {{ loop.index }} - {{ i.name }} Migration 

# *&#91;NOC]* Shutdown old port and enable new port:
{noformat}{{ i.current_device }}:
    interface {{ i.old_port }} shutdown

{{ global.L3_new }}:
    delete interface {{ i.L3_port }} disable {noformat}
{% if i.new_device %}
{% if i.jumper %}
# *&#91;RH]* Migrate the following optic: 
{noformat}Current Optic Location: 
    {{ i.A_loc_old }} - {{ i.current_device }} - {{ i.old_port }}

New Optic Location: 
{% if i.A_loc_new %}
    {{ i.A_loc_new }}{% else %}{{ i.A_loc_old }}{% endif %} - {{ i.new_device }} - {{ i.new_port }}{noformat}
# *&#91;RH]* Terminate Jumper #{{ i.jumper }} into the optic, and terminate the A Location of the jumper (replacing the exising jumper). 
{% else %}
# *&#91;RH]* Migrate the following jumper and optic:
{noformat}Current Termination:
    {{ i.A_loc_old }} - {{ i.current_device }} - {{ i.old_port }}

New Termination:
{% if i.A_loc_new %}
    {{ i.A_loc_new }}{% else %}{{ i.A_loc_old }}{% endif %} - {{ i.new_device }} - {{ i.new_port }}{noformat}
{% endif %}
{% else %}
# *&#91;NOC]* Re-provision VLAN path: 
{noformat}{{ i.current_device }}:
    interface e1/54
    switchport trunk allowed vlan add {{ i.L3_port[-3:] }}{noformat}
{% endif %}
{% if i.ebgp == 'Y' %}
# *&#91;NOC]* Enable the eBGP peering:
{noformat}{{ global.L3_new }}:
{% if i.bgp_group_v6 %}
    delete protocols bgp group {{ i.bgp_group_v4 }} shutdown
    delete protocols bgp group {{ i.bgp_group_v6 }} shutdown{noformat}
{% else %}
    delete protocols bgp group {{ i.bgp_group_v4 }} shutdown{noformat}
{% endif -%}{% endif %}
# *&#91;NOC]* Verify the new port comes up. May need to toggle negotiation.
# *&#91;NOC]* Compare pre/post maintenance L1/L2 stats and the new L3: 
{noformat}{% if i.bgp_ipv4 %}
{{ global.L3_new }}:
{{ bgp_show_junos_v4(i.bgp_ipv4) }}
{%- endif %}{% if i.bgp_ipv6 %}
{{ bgp_show_junos_v4(i.bgp_ipv6) }}
{%- endif -%} 
{% if not i.bgp_ipv4 %}
{{ global.L3_new }}
    show arp interface {{ i.new_port }}
{% endif %}{noformat}

----
{% endfor %}

h3. --- CLEAN UP ---

{% for i in cleanup %}
*{{ loop.index }}.* {{ i }}
{% endfor %}

h1. === END MOP === 