{# {% for i,j in lxc.items() %}
        - 
          << : *hpr_lxc_service
          attrs: 
            << : *hpr_lxc_service_attrs
          key: CLR6500_{{ i }}
          type: hpr-lxc
          description: "{{ j }}-{{ i }}"
          index: {{ i }}   
          outer_vlanid: {{ i }}  
{% endfor %} #}


{% for i in interface %}
set interface {{ i }} encapsulation vlan-ccc
set interface {{ i }} family ccc
{% endfor %}


{# bridge-domains {
{% for i in bd %}
    {{ i.name }} {
        {% for j in i.interfaces %}
        interface {{ j }}.{{ i.vlan }};
        {% endfor %}
        {% if i.ipv4 %}
        routing-interface irb.{{ i.vlan }};
        {% endif %}
        vlan-id {{ i.vlan }};
    }
  {% endfor %}
}

interfaces {
{% for i in bd %}
{% for j in i.interfaces %}
    {{ j }} {
        unit {{ i.vlan }} {
            family bridge; 
            vlan-id {{ i.vlan }};
        }
    }
{% if i.ipv4 %}
interface irb { 
    unit {{ i.vlan }} {
        family inet {
          address {{ i.ipv4 }};
        }
        family inet6 {
          address {{ i.ipv4 }};
        }
    }
}
{% endif %}
{% endfor %}
{% endfor %} #}
